
params {


    input =                                null
    outdir =                               null
    matrix =                                "filtered"
    input_type =                           "seurat"

    // Workflow control
    stop_after =                            null

    // Project Description
    description =                         "Generic description"
    data =                                "Generic data description"
    objectives =                          "Generic objectives"
    metadata =                             null
    logo =                                 "$projectDir/project_assets/logo.jpeg"
    quarto_index =                         "$projectDir/project_assets/index.qmd"
    quarto_yml =                           "$projectDir/project_assets/_quarto_full.yml"


    // Analysis details
    pipeline =                            "multiome"
    process_gex =                         true
    process_atac =                        true
    integrate_modalities =                true
    demultiplex =                         false


    // Species details
    genome =                              "GRCh38"
    genome_dir =                          "s3://patru-genomes"



    // QC Metrics
    // GEX QC
    percent_mt =                          10
    percent_ribo =                        0
    nCount_RNA_min =                      1000
    nCount_RNA_max =                      25000
    nFeature_RNA_min =                    500
    nFeature_RNA_max =                    2500


    // ATAC QC
    nCount_ATAC_min =                     1000
    nCount_ATAC_max =                     0
    nucleosome_signal_min =               0
    nucleosome_signal_max =               4
    TSS_enrichment =                      2
    atac_peak_region_fragments_min =      1000
    atac_peak_region_fragments_max =      50000
    pct_reads_in_peaks_min =              20
    blacklist_fraction =                  0.05



    // Exclude samples
    sample_exclusion =                     null
    /// sample_exclusion =                     ["Sample2", 'Sample3']

    // First pass dimension reduction (before doublets)
    umap1_ndims =                         30
    clustering1_res =                     0.8


    // Second pass dimension reduction (after doublets)
    umap2_ndims =                         30
    clustering2_res =                     0.8
    first_lsi_pc =                        2


    // Doublet removal
    doublet_removal =                     true  
    /// Accepts 'all' or 'High' to either remove all doublets or only high confidence doublets
    doublet_confidence =                  "all"      


    // Dataset integration
    view_batch =                         'Project'
    integrate_datasets =                 true
    integrate_by =                       "Project"
    integration_method =                 "CCA"     
    /// integration method accepts 'CCA', 'RPCA', 'FastMNN' or 'Harmony'

    rna_normalization_method =            "sct"


    // Cell Annotation
    annotation_resolution =               'cell'
    /// Accepts either 'cell' or 'cluster'

    run_azimuth =                         true
    azimuth_reference =                   'pbmcref'
    /// accepts multiple values, more info at https://satijalab.github.io/azimuth/articles/run_azimuth_tutorial.html#see-available-references

    run_singler =                         false
    singler_reference =                   'monaco_immune'
    /// Accepts multiple values, more info at https://bioconductor.org/packages/release/data/experiment/vignettes/celldex/inst/doc/userguide.html#2_Finding_references

    run_scimilarity =                      false
    scimilarity_reference =                 "/home/adampelletier/Documents/AWS_pipelines/nextflow/SCimilarity/assets/model_v1.1.tar.gz"

    selected_method =                      'azimuth'
    /// Choose which annotation method to derive final annotations from. Accepts 'azimuth', 'singler' or 'scimilarity'. Method Must be first run 

    markers_rna =                         ["FOXP3", "TBX21", "CD38", "CCR7", "KLRB1","KLRD1", "CD3E", "CD8B", "CD79A", "CD19",
                                            "CD1C", "CD14", "FCGR3A", "NCAM1", "MS4A1",
                                            "CD3D", "LILRA4", "IL3RA","CD4", "CD8A" , "GATA3", 
                                            "IL7R", "ID2", "ZBTB46", "CLEC9A", "BATF3", "IL2RA", 
                                            "CD27", "HLA-DRB1", "PRF1", "GZMB", "SDC1", "THBD", "IGHM", "IGHD"]

    markers_adt =                         ["CD3E", "CD4", "CD8", 'CD14', 'CD16', 'CD56', 'CD1C', 'CD19']



    // Project info
    outcomes =                            ['Group']
}


manifest {
    name            = 'rpmbioinfo/sc_downstream'
    author          = """Adam-Nicolas Pelletier, PhD"""
    homePage        = 'https://github.com/rpmbioinfo/sc_downstream'
    description     = """Performs downstream analysis on aligned 10X Genomics data"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0'
    doi             = ''
}



docker.enabled = true


aws {
    region = 'ca-central-1'
    profile = "rpm-mbp"
    
}


includeConfig 'conf/genomes.conf'
includeConfig 'conf/script_collection.conf'
includeConfig 'conf/modules.conf'